{% load staticfiles %}
<aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar" style="height: auto;">
          <!-- Sidebar user panel -->
          <div class="user-panel">
            <div class="pull-left image">
              <img src="{% static 'img/user2-160x160.jpg' %}" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
              <p>Saputra</p>
              <a href="#"><i class="fa fa-circle text-danger"></i> Offline</a>
            </div>
          </div>
          <!-- search form -->
     
          <!-- /.search form -->
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu tree" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            <li class="treeview menu-open">
              <a href="#">
                <i class="fa fa-database" aria-hidden="true"></i><span>Data Perpani</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu" style="display: block;">
                <li><a href="{% url 'province:view' %}"><i class="fa fa-circle-o"></i> Province</a></li>
              </ul>
            </li>
            <li class="header"></li>
        </section>
        <!-- /.sidebar -->
      </aside>