{% extends 'layout/penclub/index.html' %} {% load widget_tweaks %} {% block content %}

<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Pengurus Club
            <small>Template</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    <i class="fa fa-dashboard"></i> Pengurus Club</a>
            </li>
            <li class="active">Template</li>
        </ol>
    </section>

    <section class="content">
        <div class="box box-success">
            <div class="box-header with-border">
                Simpan Dokumen klub anda dengan rapi disini ^_^
            </div>
            <div class="box-body">
                <div class="form-group">
                    <form id="my-dropzone" action="{% url 'pbdashboard:d_upload' %}" method="post" class="dropzone" drop-zone enctype="multipart/form-data">
                        {% csrf_token %}
                    </form>
                </div>
                <div class="form-group" style="display: table; margin: 0 auto;">
                    <button id="submit-all" class="btn btn-success">Upload Semua File
                        <i class="fa fa-upload"></i>
                    </button>
                </div>

                <div class="form-group">
                    <div>
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#home" aria-controls="home" role="tab" data-toggle="tab">File Gambar</a>
                            </li>
                            <li role="presentation">
                                <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">File Dokumen</a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="home" style="padding: 16px;">{% include "pbdashboard/berkas/images.html" %}</div>
                            <div role="tabpanel" class="tab-pane" id="profile" style="padding: 16px;">{% include "pbdashboard/berkas/dokumen.html" %}</div>
                        </div>

                    </div> 
                </div>
            </div>
        </div>
    </section>
</div>
<script type="text/javascript">
    Dropzone.options.myDropzone = {

        // Prevents Dropzone from uploading dropped files immediately
        autoProcessQueue: false,
        addRemoveLinks: true,
        parallelUploads: 13,
        acceptedFiles: ".pdf, .doc, .docx, .jpg, .jpeg, .png, .xls, .xlsx",

        init: function () {
            var submitButton = document.querySelector("#submit-all")
            myDropzone = this;

            submitButton.addEventListener("click", function () {
                myDropzone.processQueue();
                // Tell Dropzone to process all queued files.
            });

            // You might want to show the submit button only when
            // files are dropped here:
            this.on("addedfile", function () {
                // Show submit button here and/or inform user to click it.
            });

            this.on('success', function () {
                if (this.getQueuedFiles().length == 0 && this.getUploadingFiles().length == 0) {
                    toastr.success('Semua File Berhasil di Upload')
                    setTimeout(function () {
                        location.reload();
                    }, 1000)
                }
            });
        },
    };
</script>
{% endblock%}