{% extends 'layout/penclub/index.html' %} {% block content %}

<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Pengurus Club
            <small>Template</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Pengurus Club</a></li>
            <li class="active">Template</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="box box-success">
                    <div class="box-body">
                            <div class="col-md-3 col-sm-3">
                                    <img src="{{anggota.picture.url}}" alt="" style="width: 100%; height: auto; border: 1px #d5d8dc solid">
                                    <p style="text-align: center; font-size: 18px; padding-top: 8px;"><b>{{anggota.name}}</b></p>
                                    <a href="{% url 'pbdashboard:ubah' anggota.pk %}" class="btn btn-success btn-block" style="margin-bottom: 8px">Ubah Info <i class="fa fa-pencil"></i></a>
                            </div>
                        <div class="col-md-6 col-sm-6">
                            <table class="table table-responsive table-striped table-hover">
                                <tbody>
                                        <tr>
                                                <td style="width: 30%">Nama</td>
                                                <td>:</td>
                                                <td>{{anggota.name}}</td>
                                            </tr>
                                            <tr>
                                                <td style="width: 30%">No. Registrasi Klub</td>
                                                <td>:</td>
                                                <td>{{anggota.user.username}}</td>
                                            </tr>
                                            <tr>
                                                <td style="width: 30%">Alamat</td>
                                                <td>:</td>
                                                <td>{{anggota.adress}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 30%">Jenis Kelamin</td>
                                                <td>:</td>
                                                <td>{{anggota.gender}}</td>
                                            </tr>
                                            <tr>
                                                <td style="width: 30%">Tanggal Lahir</td>
                                                <td>:</td>
                                                <td>{{anggota.born_date}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 30%">No. HP</td>
                                                <td>:</td>
                                                <td>{{anggota.phone}}</td>
                                            </tr>
                                            <tr>
                                                <td style="width: 30%">Draw Length</td>
                                                <td>:</td>
                                                <td>{{anggota.draw_length}}</td>
                                            </tr>
                                            <tr>
                                                <td style="width: 30%">Posisi</td>
                                                <td>:</td>
                                                <td>{{anggota.position}}</td>
                                            </tr>
                                </tbody>
                            </table>

                            <a href="{% url 'pbdashboard:add_anggota' %}" class="pull-right" style="margin-left: 16px;">Tambah Anggota &raquo;</a> 
                            <a href="{% url 'pbdashboard:anggota' %}" class="pull-right">&laquo; Kembali</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</section>
{% endblock %}