{% extends 'layout/penclub/index.html' %}

{% block content %}

<div class="content-wrapper">
        <section class="content-header">
        <h1>
                Pengurus Club
                <small>Template</small>
        </h1>
        <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Pengurus Club</a></li>
                <li class="active">Template</li>
        </ol>
        </section>

        <section class="content">
            <div class="row">
                    <div class="col-md-7 col-sm-7">
                        <div class="box box-success">
                            <div class="box-header with-border">
                                <h6 style="text-align: center">Detail Klub <b>{{request.user.anggota.club.name}}</b></h6>
                            </div>
                            <div class="box-body">
                                <div class="col-md-3 col-sm-3">
                                    <img src="{% if request.user.anggota.club.logo %}{{request.user.anggota.club.logo.url}}{% endif %}" alt="" style="width: 100%; height: auto; border: 1px #d5d8dc solid">
                                    <p style="text-align: center; font-size: 18px; padding-top: 8px;"><b>{{request.user.anggota.club.name}}</b></p>
                                    <p style="text-align: center; font-size: 13px;">{{request.user.anggota.club.slogan}}</p>
                                    <a href="/club/edit" class="btn btn-success btn-outline btn-block" style="margin-bottom: 8px">Ubah Info <i class="fa fa-pencil"></i></a>
                                </div>
                                <div class="col-md-9 col-sm-9">
                                    <table class="table table-responsive table-striped table-hover">
                                        <tbody>
                                            <tr>
                                                <td style="width: 40%">Nama Klub</td>
                                                <td>:</td>
                                                <td>{{request.user.anggota.club.name}}</td>
                                            </tr>
                                            <tr>
                                                <td style="width: 40%">No. Registrasi PERPANI</td>
                                                <td>:</td>
                                                <td>{{request.user.anggota.club.register_number}}</td>
                                            </tr>
                                            <tr>
                                                <td style="width: 40%">Tanggal Berdiri</td>
                                                <td>:</td>
                                                <td>{{request.user.anggota.club.since}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 40%">Alamat</td>
                                                <td>:</td>
                                                <td>{{request.user.anggota.club.secretariat}}</td>
                                            </tr>
                                            <tr>
                                                <td style="width: 40%">Kab./Kota Asal</td>
                                                <td>:</td>
                                                <td>{{request.user.anggota.club.city.name}}</td>
                                            </tr>
                                            <tr>
                                                <td style="width: 40%">Ketua</td>
                                                <td>:</td>
                                                <td>{{request.user.anggota.club.leader}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 40%">Jumlah Anggota</td>
                                                <td>:</td>
                                                <td>{{anggota.total}}</td>
                                            </tr>
                                            <tr>
                                                <td style="width: 40%">Jumlah Coach</td>
                                                <td>:</td>
                                                <td>{{anggota.coach_total}}</td>
                                            </tr>
                                            {% for social in request.user.anggota.club.socials.all %}
                                            <tr>
                                                <td style="width: 40%">{{social.name}}</td>
                                                <td>:</td>
                                                <td><a href="{{social.url}}" target="_blank">{{social.url}}</a></td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-5">
                        <div class="box box-success">
                            <div class="box-header with-border">
                                <h6 style="text-align: center">Anggota Berdasarkan Jenis Kelamin</h6>
                            </div>
                            <div class="box-body">
                                <canvas id="genderChart" width="400" height="160"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-5">
                        <div class="box box-success">
                            <div class="box-header with-border">
                                <h6 style="text-align: center">Anggota Berdasarkan Kategori Usia</h6>
                            </div>
                            <div class="box-body">
                                <canvas id="ageChart" width="400" height="160"></canvas>
                            </div>
                        </div>
                    </div>
                </div>      
            </div>

    </section>  
</div>

{% endblock%}

