{% extends 'layout/penclub/index.html' %}

{% block content %}

<div class="content-wrapper">
        <section class="content-header">
        <h1>
                Pengurus Club
                <small>Template</small>
        </h1>
        <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Pengurus Club</a></li>
                <li class="active">Template</li>
        </ol>
        </section>

        <section class="content">

            <div class="row">
                {% include 'pbdashboard/grafik.html' %}
                  
            </div>

    </section>  
</div>

{% endblock%}

