{% extends 'layout/index.html' %}

{% block content %}

<div class="content-wrapper">
        <section class="content-header">
                <h1>
                  Member
                  <small>Template</small>
                </h1>
                <ol class="breadcrumb">
                  <li><a href="#"><i class="fa fa-dashboard"></i> Member</a></li>
                  <li class="active">Template</li>
                </ol>
              </section>
    <section class="content">
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-red"><i class="fa fa-google-plus"></i></span>
                    <div class="info-box-content">
                    <span class="info-box-text">Likes</span>
                    <span class="info-box-number">41,410</span>
                    </div>
                </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
                <div class="box box-success">
                  <div class="box-header with-border">
                    <h3 class="box-title">Removable</h3>
                    <div class="box-tools pull-right">
                      <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                  </div>
                  <div class="box-body">
                    The body of the box
                  </div>
                </div>
        </div>
    </div>

<div class="box">
        <div class="box-body">
          <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Nama</th>
                    <th>Alamat</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>Hermianto Agus Saputra</td>
                <td>Seruni IV</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Testing</td>
                <td>Seruni IV</td>
            </tr>
            </tbody>
            </table>
        </div>
        <!-- /.box-body -->
      </div>

            <h1>Hai ini template</h1>
            
            {{kata}} <br/>
            {{ar}} <br>
            
            formatnyta url 'namespace:name'  <br>
            {% url 'member:test' %} <br>    
            <a href="{% url 'member:test' %}">Link</a>
            
            {% if logika == True %}
                <b>Logika Anda benar</b>
            {% else %}
                <b>Logika Anda Salah</b>
            {% endif %}
            <br>
            
            {% for a in ar %}
            
            {{a}} <br>
            
            {% endfor %}

            <div class="form-group">
                <label>
                  <input type="checkbox" class="minimal" checked>
                </label>
                <label>
                  <input type="checkbox" class="minimal">
                </label>
                <label>
                  <input type="checkbox" class="minimal" disabled>
                  Minimal skin checkbox
                </label>
              </div>
    </section>  
</div>
<script type="text/javascript">
  $('#example1').DataTable();
</script>
{% endblock %}
