{% load widget_tweaks %}
<div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Tambah Barang</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        {% if form_mode == 'add' %}
        <form role="form" method="POST" action="{% url 'province:simpan' %}">
        {% else %}   
        <form  role="form" action="{% url 'province:update' %}" method="POST"> 
                <input type="hidden" name="id" value="{{id}}" class="form-control">
        {% endif %}
        {% csrf_token %}

          <div class="box-body">
            <div class="form-group">
              <label for="exampleInputEmail1" class="control-label">Nama</label>
              {{form.name | add_class:"form-control" |append_attr:"placeholder:Input Province (Provinsi)"}}
            </div>
          </div>
          <!-- /.box-body -->            
         <div class="box-footer">
            <button type="submit" class="btn btn-primary">
                {% if form_mode == 'add' %}
                <i class="fa fa-floppy-o" aria-hidden="true"></i> Save
                {% else %}
                <i class="fa fa-refresh" aria-hidden="true"></i> Update
                {% endif %}
            </button>
          </div>
        </form>

      </div>

      {% if messages %}
      {% for message in messages %}
      <script>
          toastr.success('{{message}}')
      </script>
      {% endfor %}
  {% endif %}
